<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal"
	package="com.fusepowered.unitytest"
	android:versionName="1.00" 
	android:versionCode="1">
	
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" android:xlargeScreens="true" />
		
	<application android:label="@string/app_name" android:icon="@drawable/app_icon" android:debuggable="true">
	
		<activity android:name="com.unity3d.player.UnityPlayerActivity" android:label="@string/app_name" 
			android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
		</activity>

		<activity android:name="com.unity3d.player.UnityPlayerNativeActivity" android:label="@string/app_name" 
			android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
		  <meta-data android:name="android.app.lib_name" android:value="unity" />
		  <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
		</activity>
		
		<!-- FuseAPI -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		
        <activity
            android:name="com.fusepowered.fuseactivities.FuseApiMoregamesBrowser"
            android:label="FuseApiMoregamesBrowser">
            <intent-filter>
                <action android:name="com.fusepowered.fuseactivities.FuseApiMoregamesBrowser" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>		
		


        <activity
            android:name="com.fusepowered.m2.mobileads.M2Activity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.fusepowered.m2.mobileads.M2RActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.fusepowered.m2.common.M2Browser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.fusepowered.m2.mobileads.M2RvpActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.fusepowered.m1.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.fusepowered.m1.android.VideoPlayer"
            android:configChanges="keyboardHidden|orientation|keyboard" />
        <activity
            android:name="com.fusepowered.u1.U1InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.s1.S1InterstitialActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.vungle.sdk.VungleAdvert"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <service android:name="com.vungle.sdk.VungleIntentService" />

        <activity
            android:name="com.fusepowered.ads.adapters.FuseInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.l1.AdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.fusepowered.l1.AdBrowserActivity" />
        <activity
            android:name="com.fusepowered.l1.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.fusepowered.ac.ACOActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.ac.ACFActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.ac.ACBActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.ads.adapters.LRActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.ads.adapters.MRaidActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.fusepowered.sa.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.fusepowered.sa.android.publish.AppWallActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize" />
		<!-- end -->
		
		<!-- GCM -->
		<activity
            android:name="com.fusepowered.unity.GCMJava" 
            android:label="@string/app_name" >
		</activity>
		<receiver
            android:name="com.fusepowered.unity.FuseUnityGCMReceiver" 
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter> 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				
				<meta-data android:name="com.fusepowered.replace.packageId" android:value="com.fusepowered.unitytest" />
                <category android:name="com.fusepowered.unitytest" />													<!-- replace com.fusepowered.unitytest with your bundle id -->
              
            </intent-filter>
		</receiver> 
		<service android:name="com.fusepowered.unity.GCMIntentService" />
		<!-- end -->
		
	</application>
	<uses-feature android:glEsVersion="0x00010001" />
	
	<!-- Permissions for Analytics -->
	<uses-permission android:name="com.android.vending.BILLING"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  
	<!-- Permissions for GCM -->
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<!-- Creates a custom permission so only this app can receive its messages. -->
	<meta-data android:name="com.fusepowered.replace.packageId" android:value="com.fusepowered.unitytest" />
	<permission android:name="com.fusepowered.unitytest.permission.C2D_MESSAGE"	android:protectionLevel="signature" /> 	<!-- replace com.fusepowered.unitytest with your bundle id -->

	<meta-data android:name="com.fusepowered.replace.packageId" android:value="com.fusepowered.unitytest" />
	<uses-permission android:name="com.fusepowered.unitytest.permission.C2D_MESSAGE" /> 								<!-- replace com.fusepowered.unitytest with your bundle id -->
	
	<!-- This app has permission to register and receive data message. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	<!-- Permission to vibrate -->
	<!--<uses-permission android:name="android.permission.VIBRATE" /> -->
	
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16" />
	
</manifest>
